@charset "UTF-8";

:root {
	--b1: #586ba4;
	--b2: #324376;
	--yellow: #f5dd90;
	--or: #f68e5f;
	--ror: #f76c5e;
}


body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--or);
    color: var(--b2);
    line-height: 1.6;
    padding: 0 20px;
  }
  
  .wrapper {
    width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: var(--yellow);
  }
  
  /* head */
  .site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;
    width:100%;
    border-bottom: 1px solid var(--or);
  }
  
  .site-logo {
    border-radius: 12px;
    width: 50px;
  }
  
  .site-nav a {
    margin-left: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: color 0.1s;
  }
  
  .site-nav a:hover {
    color: var(--ror);
  }
  
  /* lead */
  .lead {
    text-align: center;
    margin-top: 3em;
  }
  
  .bigtext {
    font-family: cursive;
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 0.4em;
    color: var(--b2);
  }
  
  .medtext {
    font-size: 1.4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--b1);
    margin-bottom: 1.8em;
  }
  
  .lead-display img {
    width: 1300px;
    max-width: 100%;
    height: auto; 
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}


h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
  .lead p {
    font-size: 1.15em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 850px;
    margin: 1em auto;
    color: black;
  }
  
/* Showcase Container */
.showcase {
  display: grid;
  gap: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */

  flex-wrap: wrap;
  margin-top: 50px;
}

.showcase-item {
background-color: var(--or);
  border: 2px solid var(--ror);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .showcase-item:hover {
  transform: translateY(-5px);
} */

.showcase-item img {
  width: 100%;
  height: 150px;
  object-fit: contain; 
  border-radius: 12px;
  margin-bottom: 1em;
}


.showcase-item h2 {
  color: var(--b1);
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.showcase-item p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  color: var(--or);
  margin-bottom: 10px;
}
  
  /* footer */
  footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5em;
    padding-top: 2em;
    border-top: 1px solid var(--yellow);
    text-align: center;
    color: #888;
    font-size: 0.9em;
  }
  
  .footer-links {
    margin-top: 0.8em;
  }
  
  .footer-links a {
    margin: 0 12px;
    text-decoration: none;
    color: #888;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: var(--b2);
  }
